# Ignore VS stuff
.vs/
Brickadia.sln

# Ignore generated folders
Binaries/
Build/
Intermediate/
DerivedDataCache/
Saved/
Config/

# Don't ignore screenshot in Saved
!Saved/**/*.png

# Ignore lightmaps
*_BuiltData.uasset

# Ignore plugins
Plugins/

# Ignore packaging folders
TestBuild/
TestBuild_Shipping/

# Ignore test stuff
.ini
