# Ignore VS stuff
.vs/
Brickadia.sln

# Ignore generated folders
Binaries/*
Build/*
Intermediate/*
DerivedDataCache/*
Saved/*
Config/*

# Don't ignore icon files in Build
!Build/**/*.ico

# Ignore lightmaps
*_BuiltData.uasset

# Ignore blender backups
*.blend

# Ignore plugins
Plugins/*

# Ignore packaging folders
TestBuild/
TestBuild_Shipping/

# Ignore test stuff
.ini
.uproject
